.root {
    -fx-background-color: #F3F4FF;
}

.label-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.input-field {
    -fx-pref-width: 250px;
    -fx-padding: 8px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
}

.btn-primary {
    -fx-background-color: #4D44B5;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 6px 12px;
    -fx-font-weight: bold;
}

.btn-secondary {
    -fx-background-color: #4D44B5;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 6px 12px;
    -fx-font-weight: bold;
}

#sidebar_ctnr {
    -fx-background-color: #4D44B5;
}

#quizName-ctnr {
    -fx-background-color: #FFFFFF;
}

#topbar-ctnr {
    -fx-background-color: #F0F0F0;
}

.sidebar_btn {
    -fx-background-color: #4D44B5;
    -fx-text-fill: #F3F4FF;
    -fx-background-radius: 20 0 0 20;
    -fx-focus-color: #FF0000;
    -fx-faint-focus-color: #FF0000;
}

.sidebar_btn:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}

#sidebar_selected {
    -fx-background-color: #F3F4FF;
    -fx-text-fill: #4D44B5;
}

.content_container {
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
}